<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Edit Pokemon</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
    </head>
    <body>
        <style>
            body{
                background-color: #45464A;
            }

            h1{
                text-align: center;
                color: white;             
            }

            form{
                display: grid;
                justify-content: center;
                padding:5px;
                color:white;
            }
            input{
                padding:3px;
            }

            .back{
                margin: auto;
                display: flex;
                justify-content: center;
                padding:5px;
                border: 5px solid black;
                border-radius: 20px;
            }

            .back:hover{
                border: 5px solid #F714BE;
            }

            a{
                text-decoration: none;
            }

            .submit{
                border: 3px solid black;
                border-radius: 3px;
            }
            .submit:hover{
                border: 3px solid #F714BE;
            }
        </style>
        <div class="container">
            <h1>Edit Pokemon</h1>
            <form action="/pokemon/<%=id%>?_method=PUT" method="POST">
                Name: <input type="text" name="name" value="<%= pokemons.name %>"/> <br>
                Type: <input type="text" name="type" value="<%= pokemons.type %>"/> <br>
                Image: <input type="text" name="img" value="<%= pokemons.img %>"/> <br>
                HP: <input type="text" name="hp" value="<%= pokemons.stats.hp %>"/> <br>
                Attack: <input type="text" name="attack" value="<%= pokemons.stats.attack %>"/> <br>
                Defense: <input type="text" name="defense" value="<%= pokemons.stats.defense %>"/> <br>
                Speed: <input type="text" name="speed" value="<%= pokemons.stats.speed %>"/> <br>
                <input class="submit" type="submit" value="OK!"/>
            </form> 
        </div>
        <button class="back"><a href="/pokemon">Back to Pokedex</a></button>
    </body>
</html>