<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Edit Pokemon</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
    </head>
    <body>
        <style>
            body{
                background-color: #8EB3AD;
            }
            h1{
                text-align: center;             
            }
            form{
                display: grid;
                justify-content: center;
            }
        </style>
        <div class="container">
            <h1>Edit Pokemon</h1>
            <form action="/pokemon/<%=id%>?_method=PUT" method="POST">
                Name: <input type="text" name="name" value="<%= pokemons.name %>"/> <br>
                Type: <input type="text" name="type" value="<%= pokemons.type %>"/> <br>
                Image: <input type="text" name="img" value="<%= pokemons.img %>"/> <br>
                HP: <input type="text" name="hp" value="<%= pokemons.stats.hp %>"/> <br>
                Attack: <input type="text" name="attack" value="<%= pokemons.stats.attack %>"/> <br>
                Defense: <input type="text" name="defense" value="<%= pokemons.stats.defense %>"/> <br>
                Speed: <input type="text" name="speed" value="<%= pokemons.stats.speed %>"/> <br>
                <input type="submit" value="Submit Changes"/>
            </form> 
        </div>
        <button><a href="/pokemon">Back to Pokedex</a></button>
    </body>
</html>