<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <%- include('./partials/head.ejs')%>
    </head>
    <body>
        <div class="container">
            <h1></h1>
            <img src=<%= allPokemon.img>
            <ul class="type">
                <% for(let i=0; i < data.type.length; i++) { %>
                    <li>
                        <%= data.type[i]%>
                    </li>
                <% } %>
            </ul>
            <br>
            <ul class="stats">
                <li>HP: <%= data.stats.hp%></li>
                <li>Attack: <%= data.stats.attack%></li>
                <li>Defense: <%= data.stats.defense%></li>
                <li>Speed: <%= data.stats.speed%></li>
            </ul>
            <a href="/pokemon">BACK</a>
        </div>

    </body>
</html>